@charset "UTF-8";
/* formação de parágrafos e títulos */


.mainf > h2{
    margin-top: 0%;
    margin-bottom: 0%;
}

.pmain{
    margin-top:0%;
}

.footerf > h2{
    margin-top: 0%;
    margin-bottom: 0%;
}


/* about */
footer{
    display: inline-block;
    width: 98%;
    margin: auto;
    border: 3px solid black ;
    
}

h4{
    font-size: 0%;
    padding: 1%
}

footer > h2{
    margin-top: 0px;
    margin-bottom: 0px;
    
}

footer{
    background-color: #B9D6D7;
    text-align: center;
}

.mainv > p{
    text-align: justify;
}

main{
    text-align: center ;
}


